
<!-- <form #form="ngForm" (ngSubmit)="onSubmit(form)">
  username to update: <input type="text" ngModel #username="ngModel" name="username" />

   New password:<input type="text" ngModel #password="ngModel" name="password" />
   <input type="submit" name="submit" />
</form>
<h2>{{msg}} -->
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Delete Account</title>
      <!-- <link rel="stylesheet" href="css/delete.css"> -->
  </head>
  <body>
      <div class="glass-container">
          <div class="login-box">
              <h2>Update Account</h2>
              <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                  <input type="text" ngModel #username="ngModel" name="username" required placeholder="Enter the username" required />
                  <input type="text" ngModel #password="ngModel" name="password" required placeholder="Enter the new password" required/>
                  <button type="submit">Update</button>
                  <p *ngIf="msg" >{{msg}}</p>
                  <p>Be careful while updating the account.</p>
              </form>
          </div>
      </div>
  </body>
  </html>
